/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #191919;
  border-color: #056706;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #056706;
}
/* Navbar links */
.navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}
/* Change color on hover */
.navbar a:hover {
  background-color: #067908;
  color: black;
  border-radius: 10px;
}

.title-section {
  background-color: #056706;
  text-align: center;
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  border-bottom: 2px solid black;
  border-radius: 10px;
}

body {
  background-color: #191919;
  color: white;
}
.custom-btn {
  background-color: #191919;
  border-color: #056706;
  min-width: 150px;
  min-height: 150px;
  font-size: 1.5rem;
  border-style: groove;
  border-radius: 5px; 
}

.genre-buttons {
  margin-bottom: 15px;
}

.custom-btn:hover {
  background-color: #045e06; 
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

#genre-title-div {
  margin: auto;
  width: 69%;
}

h2 {
  background-color: #191919;
  text-align: center;
  font-size: 1.5rem;
  border-style: groove;
  border-radius: 5px;
  border-color: #056706;
}
