/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #191919;
  border-color: #056706;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #056706;
}

/* Navbar links */
.navbar a {
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #067908;
  color: black;
  border-radius: 10px;
}

.title-section {
  background-color: #056706;
  text-align: center;
  padding: 10px;
  font-size: 40px;
  font-weight: bold;
  border-bottom: 2px solid black;
  border-radius: 10px;
}

body {
  background-color: #191919;
  color: white;
}

.custom-btn {
  background-color: #191919;
  border-color: #056706;
  min-width: 150px;
  min-height: 150px;
  font-size: 1.5rem;
  border-style: groove;
  border-radius: 5px;
}

.genre-buttons {
  margin-bottom: 15px;
}

.custom-btn:hover {
  background-color: #045e06;
}

h1 {
  text-align: center;
  font-size: 1.5rem;
}

#genre-title-div {
  margin: auto;
  width: 69%;
}

#artist-title-div {
  margin: auto;
  width: 100%;
}

h2 {
  background-color: #191919;
  text-align: center;
  font-size: 1.5rem;
  border-style: groove;
  border-radius: 5px;
  border-color: #056706;
}

.dropdown {
  width: 500px;
  margin: auto;
  margin-bottom: 20px;
}

.dropdown > .dropdown-toggle {
  width: 500px;
  height: 75px;
  text-align: center;
  margin: auto;
  background-color: #191919;
  border-color: #056706;
  font-size: 30px;
}

.dropdown > .dropdown-menu {
  width: 500px;
  text-align: center;
  margin: auto;
  background-color: #191919;
  color: #191919;
  font-size: 30px;
}

.dropdown-item {
  width: 500px;
  text-align: center;
  margin: auto;
  background-color: #191919;
}

.d-flex {
  width: 1000px;
  margin: auto;
}

.btn-primary {
  background-color: #191919 !important;
  border-color: #056706 !important;
  min-width: 100px;
  min-height: 50px;
  font-size: 1.5rem;
  border-style: groove;
  border-radius: 5px; 
}

.btn-primary:hover {
  background-color: #045e06 !important; 

.glow {

  color: #056706;
  text-align: center;
  font:sans-serif;
  text-transform: uppercase;

 /* Text Shine Animation */
 background: linear-gradient(90deg, #056706, #fff, #056706); 
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;


}

/* Hover Effect: Scale text on hover */
.glow:hover {
 transform: scale(1.1); 
}